.header {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container {
  flex-shrink: 0;
}

.nav-logo {
  height: 50px; /* Adjust the height as needed */
}

.nav-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item {
  text-transform: uppercase;
  position: relative;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  position: relative;
}

.auth-button { /* Specific style for login and logout buttons */
  padding: 10px 20px;
  background-color: #fc94f5; /* Claymore color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.auth-button:hover {
  background-color: #e782e1;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  .nav-list-open {
    display: flex;
  }
}
